@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic&subset=latin,latin-ext);
@import url(//fonts.googleapis.com/css?family=Kaushan+Script&subset=latin,latin-ext);

.box-header .box-tools a {
    color: #ffffff;
}

#delete-item {
    display: none;
}

table.table-hover tbody tr{
    cursor: pointer;
}

.full-width {
	width:100%!important;
}
.right-no-radius {
	border-top-right-radius:0!important;
	border-bottom-right-radius:0!important;
}
.left-no-radius {
	border-top-left-radius:0!important;
	border-bottom-left-radius:0!important;
}

.float-left {
	float:left!important;
}

.hidden {
	display: none;
}
.left-18{
	left: -28px;
}
.width100 {
	width: 100px!important;
}
.width120 {
	width: 120px!important;
}
.width200 {
	width: 200px!important;
}
.width250 {
	width: 250px!important;
}
.width260 {
	width: 260px!important;
}
.width280 {
	width: 280px!important;
}
.width300 {
	width: 300px!important;
}
.width420 {
	width: 420px!important;
}
.project_thumb100{
	max-height: 100px;
	max-width: 100px;
	border-radius: 15px;
	border: 1px solid #ccc;
	margin-top: 5px;
}
#loaderSpin{
	font-size: 56px;
	position: absolute;
	margin-left: -73px;
	margin-top: 25px;
	color: #ccc;
	display: none;
}